# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*~
*.htaccess
*.swp
*._*
*.DS_Store

assignments/assignment1/files/src/asgn1
assignments/assignment1/files/src/unit-tests/UnitTest
